@if (!loginDisplay) {
<div>
    <p class="welcome">Sistema para obtener señales de vida y alertas de pacientes criticos.</p>
    
    <p>Logeate para ver información importante!.</p>
</div>

}

@if (loginDisplay) {
<div>
    <p>Login correcto!</p>
    <p>Solicita la información de tu perfil haciendo clic en Perfil</p>
    <button class="btn btn-primary" (click)="getData(false)" >Obtener señales</button>
    <button class="btn btn-primary" (click)="getData(true)">Obtener alertas</button>

    


</div>

<div class="container">
    <ul class="" *ngIf="senales.length > 0" >
        <h1>Señales</h1>
        <li *ngFor=" let senal of senales">
            {{senal}}
        </li>           
    </ul>

    <ul class="" *ngIf="alertas.length > 0" >
        <h1>Alertas</h1>
        <li *ngFor=" let alerta of alertas">
                {{alerta}}
        </li>        
    </ul>

</div>



}